.menu {
    background-color: rgb(236, 233, 233);
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    transition: 0.4s all ease-in-out;
}

.menu:hover {
    background-color: rgb(207, 203, 203);
}