.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  background-color: #47362F;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: rgb(248, 248, 248);
}

.navitem img {
  border-radius: 15px;
  height: 65px;
  width: 65px;
}

.navbaritems1 {
  display: flex;
}

.bigImage {
  outline: blue dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 0;
  width: 100%;
}

.contentimg {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  width: 100%;
  height: 50%;
}

.aboutus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10% 0 10% 0;
  height: auto;
  width: 90%;
  gap:  7em;
  align-self: center;
  justify-self: center;
}

.titlepage {
    font-size: 30px;
}

.textpage {
  display: flex;
  flex-direction: row;
  width: fit-content;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.textpage p {
  max-width: 40%;
}

.humblebeginning {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  align-items: center;
  gap: 20px;

}

.humb h2{
  font-size: 30px;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.humblepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 30px;
  margin: 50px;
}

.humblepage h4 {
  font-size: 30px;
}

.parag {
  width: 80%;
  color: black;
  font: 500;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

}

.socials {
  display: flex;
  gap: 20px;
}

.contactus {
  display: flex;
  gap: 10px;
  color: rgba(7, 7, 7, 0.849);
  font-weight: 600;
}

.socials {
  display: flex;
  flex-direction: row;
}

.footerinfo {
  display: flex;
  flex-direction: row;
  width: 30%;
  gap: 15px;
  justify-content: center;
  align-items: center;

}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 0 40px 0;
  height: 100%;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 40px 0 40px 0;
}

.img1:hover {
  background-color: rgba(7, 7, 7, 0.397);
  border-radius: 10px;
}

.img2:hover {
  background-color: rgba(7, 7, 7, 0.397);
  border-radius: 10px;
}

.img3:hover {
  background-color: rgba(7, 7, 7, 0.397);
  border-radius: 10px;
}

.img4:hover {
  background-color: rgba(7, 7, 7, 0.397);
  border-radius: 10px;
}

.con:hover {
  color: rgb(90, 90, 90);
}

.con1:hover {
  color: rgb(90, 90, 90);
}

.backtotop {
  color: rgba(7, 7, 7, 0.849);
  font-weight: 600;
  text-align: center;
}

.selflink:hover {
  color: rgb(90, 90, 90);
}

@media (max-width: 480px) {
  .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .footerinfo {
      display: none;;
    }
}

.Footer {
  display: flex;
  height: 150%;
  align-items: center;
  justify-content: center;
  background-color: #BAB6AA;
  flex-direction: column;
}

.Footer {
  display: flex;
  height: 150%;
  align-items: center;
  justify-content: center;
  background-color: #BAB6AA;
  flex-direction: column;
}

@media (max-width: 768px) {
  .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .footerinfo {
      display: none;;
    }

    .aboutus {
      display: flex;
      flex-direction: column;
    }

    .textpage {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: space-between;
      gap: 20px;
    }

    .textpage p {
      outline: red dashed;
      max-width: 100%;
    }

    .humblebeginning {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .humb {
      margin: 10%;
    }

    .humb h2 {
      font-size: 30px;
    }

    .humblepage {
      outline: red dashed;
      width: fit-content;
      text-align: center;
    }
}

